<html>
    <body>
        <h2>Exploratory Data Analysis</h2>
        <div id="eda_functions" class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="univariate-tab" data-toggle="tab" href="#univariate">Univariate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bivariate-tab" data-toggle="tab" href="#bivariate">Bivariate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="multivariate-tab" data-toggle="tab" href="#multivariate">Multivariate</a>
                </li>
            </ul>
            
            <div class="tab-content" id="eda_functions_content">
                <!-- Univariate Analysis -->
                <div class="tab-pane fade show active" id="univariate">
                    <h3>Univariate Analysis</h3>
                    <select id="univariate-column">
                        {% for column in numeric_columns + categorical_columns %}
                        <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="plot('univariate')">Univariate Analysis</button>
                    <div id="univariate-figure-display"></div>                
                </div>
                <!-- Bivariate Analysis -->
                <div class="tab-pane fade" id="bivariate">
                    <h3>Bivariate Analysis</h3>
                    <select id="bivariate-column1">
                        {% for column in numeric_columns + categorical_columns %}
                        <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <select id="bivariate-column2">
                        {% for column in numeric_columns + categorical_columns %}
                        <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="plot('bivariate')">Bivariate Analysis</button>
                    <div id="bivariate-figure-display"></div>                
                </div>
                
                <div class="tab-pane fade" id="multivariate">
                    <h3>Multivariate Analysis</h3>
                    <select id="multivariate-columns" multiple>
                        {% for column in numeric_columns %}
                        <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="plot('multivariate')">Multivariate Analysis</button>
                    <div id="multivariate-figure-display"></div>
                </div>
            </div>
        </div>

        <!-- Other scripts -->
        <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </body>
</html>