<head>
    <meta charset="UTF-8">
    <title>Data Display and Plot</title>
    <style>
        .data {
            border-collapse: collapse;
            width: 100%;
        }
        .data th, .data td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Upload CSV File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h1>Data Display</h1>
    <p id="message"></p>
    <button onclick="toggleTable()" title="Show/hide the data table">Toggle Table</button>
    <button onclick="downloadTable()" title="Download the data table as a CSV file">Download Table</button>
    <button onclick="clearTable()" title="Clear the data table">Clear Table</button>
    <div id="dataTable">
        {{ tables[0]|safe if tables else 'No tables' }}
    </div>
    <h1>Exploratory Data Analysis</h1>
    <div id="eda_functions" class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="histogram-tab" data-toggle="tab" href="#histogram">Histogram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bar-plot-tab" data-toggle="tab" href="#bar-plot">Bar Plot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="box-tab" data-toggle="tab" href="#box-plot">Box Plot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="correlation-heatmap-tab" data-toggle="tab" href="#correlation-heatmap">Correlation Heatmap</a>
            </li>
        </ul>
        <div class="tab-content" id="eda_functions_content">
            <div class="tab-pane fade show active" id="histogram">
                <select id="numeric-columns"></select>
                <button onclick="histogram()" id="create-histogram">Create Histogram</button>
                <div id="histogram-figure-display"></div>
            </div>
            <div class="tab-pane fade" id="bar-plot">
                <select id="categorical-columns"></select>
                <button onclick="bar_plot()" title="create-bar-plot">Create Bar Plot</button>
                <div id="bar-plot-figure-display"></div>
            </div>
            <div class="tab-pane fade" id="box-plot">
                <select id="numeric-columns"></select>
                <button onclick="box_plot()" id="create-box-plot">Create Box Plot</button>
                <div id="box-plot-figure-display"></div>
            </div>
            <div class="tab-pane fade" id="correlation-heatmap">
                <select id="all-columns"></select>
                <button onclick="correlation_heatmap()" id="create-correlation-heatmap">Create Correlation Heatmap</button>
                <div id="histogram-figure-display"></div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!--Java Script for Plotly Plots-->
    <script>
        // Table Functions
        function toggleTable() {
            var table = document.getElementById("dataTable");
            if (table.innerHTML.trim() == "") {
                document.getElementById("message").innerHTML = "No table to toggle.";
            } else {
                if (table.style.display === "none") {
                    table.style.display = "block";
                } else {
                    table.style.display = "none";
                }
                document.getElementById("message").innerHTML = "";
            }
        }

        function clearTable() {
            var table = document.getElementById("dataTable");
            if (table.innerHTML.trim() == "") {
                document.getElementById("message").innerHTML = "No table to clear.";
            } else {
                table.innerHTML = "";
                document.getElementById("message").innerHTML = "";
            }
        }

        function downloadTable() {
            var table = document.getElementById("dataTable");
            if (table.innerHTML.trim() == "") {
                document.getElementById("message").innerHTML = "No table to download.";
            } else {
                var csv = [];
                var rows = table.getElementsByTagName("tr");

                for (var i = 0; i < rows.length; i++) {
                    var row = [], cols = rows[i].querySelectorAll("td, th");
                    for (var j = 0; j < cols.length; j++)
                        row.push(cols[j].innerText);
                    csv.push(row.join(","));
                }

                var csvData = new Blob([csv.join("\n")], { type: 'text/csv' });
                var csvUrl = URL.createObjectURL(csvData);
                var hiddenElement = document.createElement('a');
                hiddenElement.href = csvUrl;
                hiddenElement.target = '_blank';
                hiddenElement.download = 'table.csv';
                hiddenElement.click();
                document.getElementById("message").innerHTML = "";
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var plotButtons = document.querySelectorAll('.plot-button');
            plotButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var plotType = this.getAttribute('data-plot-type');
                    var columnSelect1 = document.getElementById(plotType + '-column-select1');
                    var columnSelect2 = document.getElementById(plotType + '-column-select2');
                    var column1 = columnSelect1.value;
                    var column2 = columnSelect2.value;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/plot', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function() {
                        if (this.status >= 200 && this.status < 400) {
                            var data = JSON.parse(this.response);
                            Plotly.newPlot(plotType + '-plot', data);
                        } else {
                            console.error('Server responded with status code ' + this.status);
                        }
                    };
                    xhr.onerror = function() {
                        console.error('Request failed');
                    };
                    var payload = JSON.stringify({
                        'column1': column1,
                        'column2': column2,
                        'plot_type': plotType
                    });
                    xhr.send(payload);
                });
            });
        });
    </script>
</body>
