    <h2>Home Page</h2>
    <div class="container">
        <h1 class="mt-5 mb-4">Welcome to the Data Analysis Web App</h1>
        <p>This web application provides the following functionalities:</p>
        <ul>
            <li>Upload CSV data files</li>
            <li>View and download data tables</li>
            <li>Perform exploratory data analysis (EDA) with various plots</li>
            <li>Visualize geographic data on maps</li>
            <li>Train and evaluate machine learning models</li>
            <li>View and download trained models</li>
        </ul>
        <p>To get started, click on the desired tab in the navigation menu.</p>
    </div>