<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Display and Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="nav-container">
        <div class="tab">
            <div class="tab-buttons">
                <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
                <button class="tablinks" onclick="openTab(event, 'DataSummary')">Data Summary</button>
                <button class="tablinks" onclick="openTab(event, 'DataAnalysis')">Data Analysis</button>
                <button class="tablinks" onclick="openTab(event, 'GeoImaging')">Geo Imaging</button>
                <button class="tablinks" onclick="openTab(event, 'MachineLearning')">Machine Learning</button>
                <button class="tablinks" onclick="openTab(event, 'TrainedModels')">Trained Models</button>
            </div>
            <div class="file-upload">
                <div class="file-upload-container">
                    <h1 class="upload-label">Upload CSV File</h1>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                    </form>
                </div> 
            </div>
        </div>
    </div>

    {% if success_message %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% elif error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    
    <div class="content-container">
        <div id="tab-content"></div>
    </div>

    <!-- Include JavaScript files and functions -->
    <script src="{{ url_for('static', filename='js/table_functions.js') }}"></script>
    <!-- Other scripts -->
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>


    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Check if evt is null
            if (evt !== null) {
                evt.currentTarget.className += " active";
            }

            // Load the content using AJAX
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("tab-content").innerHTML = this.responseText;
                }
            };

            // Load the "Home" tab content directly from the /home route
            if (tabName === 'Home') {
                xhr.open("GET", "/home", true);
                xhr.send();
            } else {
                xhr.open("GET", "/" + tabName.toLowerCase(), true);
                xhr.send();
            }
        }
        

        window.onload = function() {
            openTab(null, 'Home');
        }
    </script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>
